*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #0b1600;
    background-image: conic-gradient(darkgreen, yellow, orange,red, green, darkgreen);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.synth {
    border: 5px solid #463e3e;
    display: flex;
    flex-direction: column;
    background-color:  #720000; /* For browsers that do not support gradients */
    background: linear-gradient( to right, #720000, #f80000cc);
}
.panel{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 154px;
    width: 710px;
    color: rgb(255, 0, 0);
    text-align: left;
    font-size: 1.7rem;
    font-weight: 500;
  
}

/* A screen to show a note frequency*/
.screen {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 53px;
    border: 5px solid #463e3e;
    height: 54px;
    width: 247px;
    padding: 3px;
    background: gradient ( to right, #720000, #f80000cc);
    background-color: #268b26; /* For browsers that do not support gradients */
    background-image: radial-gradient( #268b26 11%, #1ab31a 85%);
    color: rgb(240, 255, 255, .9);
    text-align: center;
    font-size: 2rem;
    font-stretch: wider;
}

.piano {
    border: 5px solid #463e3e;
    display: flex;
}

.key {
    height: calc(var(--width) * 4);
    width: var(--width);
}

.white {
   --width: 100px;
    background-color: blanchedalmond;
    border: 1px solid #333;
}

.white.active {
    background-color: #ccc;ddd
}

.black {
    --width: 60px;
    background-color: black;
    border: 5px solid #584141;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 2;
}

.black.active {
    background-color: #333;
}


